
{% extends "base.html" %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<div class="container">
<h1 class="display-4">Create Reward</h1>
<form method="POST" action="">
 <div class="form-group">
 {{ render_field(form.rewardName, class="form-control") }}
 </div>
 <div class="form-group">
    {{ render_field(form.incentive, class="form-control") }}
    </div>
 <div class="form-group">
 {{ render_field(form.points, class="form-control") }}
 </div>
 <div class="form-group">
 {{ render_field(form.quantity, class="form-control") }}
 </div>
 <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock %}
