{% extends "base.html" %} {% block title %}Specialized | Home{% endblock %} {% block content %}

<!-- BANNER -->
<div class="jumbotron jumbotron-fluid" id="homeBanner">
    <div class="container">
        <h1 class="display-4"><a href="">S-Work Venge 2020</a></h1>
        <p class="lead">Living and Breathing Aero</p>
    </div>
    &nbsp;
    <div class="container" id="bannerImage" style="background-image: url('/static/banner.png'); background-repeat: no-repeat;
    background-position: center;">
    </div>
</div>
<!-- END OF BANNER -->
<!-- QUICKPRODUCTS -->
<!-- <div class="container" id="quickProducts">
    <div class="card-deck">
        <div class="card">
            <img src="/static/sworkTarmacBanner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">S-Works Tarmac 2019</h5>
                <p class="card-text">The all new S-Works Tarmac 2019</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/sworkVengeBanner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">S-Works Venge 2020</h5>
                <p class="card-text">Probably the lightest bike you've ever riden</p>
            </div>
        </div>
    </div>
</div> -->
<!-- END OF QUICKPRODUCTS -->
{% endblock %}